<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="text/plain" />
            <mimeMap fileExtension=".bat" mimeType="text/plain" />
            <mimeMap fileExtension=".ini" mimeType="text/plain" />
            <mimeMap fileExtension="." mimeType="application/octet-stream" />
            <mimeMap fileExtension=".frx" mimeType="text/plain" />
            <mimeMap fileExtension=".lic" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".tlb" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".olb" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".config" mimeType="text/plain" />
            <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".lib" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".pem" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".fmt" mimeType="text/plain" />
            <mimeMap fileExtension=".ssk" mimeType="application/octet-stream" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".config" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
